*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

.moreeDetail{
    text-align: center;
}

.click{
    text-align: center;
}

.no-vehicle{
    text-align: center;
}

.popular-moreDetail{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}