.title-editPassword{
    display: grid;
    grid-template-columns: 20% 80%;
}

.formEditPassword{
    display: grid;
    grid-template-rows: 50% 50%;
}

.editFormPassword{
    width: 100%;
}

.editFormNewPassword{
    width: 100%;
}

.buttonChange{
    margin-top: 5%;
}

.changePassword{
    border-radius: 5px;
    border: 0;
}