.main-section-history{
    display: grid;
    grid-template-columns: 70% 30%;
    /* border: 1px solid black; */
    height: 800px;
}

.new-arrivalHistory{
    border: 1px solid grey;
    border-radius: 5px;
}

.button-searchHistory{
    display: grid;
    grid-template-columns: 70% 30%;
}


.new-arrivalHistory{
    display: grid;
    grid-template-rows: 20% 40% 40%;
}

.title-ImageHistory{
    color: black;
    text-align: center;
    font-weight: bold;
}

.figcaption-brand{
    text-align: start;
    padding: 0;
}

.figcaption-city{
    padding: 0;
}

.imageHistoryFirstCard{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.imageHistoryFirstCardSecond{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    padding-top: 5%;
}

.imageHistoryFirst{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 10%;
    text-align: center;
}

.finishing{
    width: 80%;
}

.finishAttempt{
    color: black;
}

.detailHistory{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    width: 100%;
    height: 60px;
}

.imageHistoryDetail{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 2%;
}

.detailHistoryImage{
    margin-left: 2%;
    width: 100%;
    height: 100%;
}

.brandHistory{
    color: black;
    font-weight: bold;
}

.dateHistory{
    color: black;
    font-weight: lighter;
    font-size: 16px;
}

.prepaymentHistory{
    color: black;
    font-weight: bold;
}

.returnedHistory{
    color: green;
}