*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

.jumbotron{
    background-image: url("../../assets/forgot-password.jpeg");
    background-size: cover;
    filter: brightness(60%);
    text-align: center;
}

.title{
    text-align: center;
    filter: contrast(100%);
}

.button-back-forgot{
    text-align: start;
    padding: 5% 5%;
    color: #FFFFFF;
}

.inputEmailForgot{
    border-radius: 5px;
    width: 30%;
    height: 50px;
    text-align: center;
}

.button-send {
    margin: 2%;
    width: 30%;
    height: 50px;
    background-color: #FFCD61;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    text-align: center;
}

.text-forgot{
    text-align: center;
}